-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: musical_db
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `musical_db`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `musical_db` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `musical_db`;

--
-- Table structure for table `booking`
--

DROP TABLE IF EXISTS `booking`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `booking` (
  `booking_id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `performance_id` bigint NOT NULL,
  `booking_status` enum('COMPLETED','CANCELED') NOT NULL,
  `total_price` int NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`booking_id`),
  KEY `fk_booking_user_idx` (`user_id`),
  KEY `fk_booking_performance_idx` (`performance_id`),
  CONSTRAINT `fk_booking_performance` FOREIGN KEY (`performance_id`) REFERENCES `performance` (`performance_id`),
  CONSTRAINT `fk_booking_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `booking`
--

LOCK TABLES `booking` WRITE;
/*!40000 ALTER TABLE `booking` DISABLE KEYS */;
INSERT INTO `booking` VALUES (14,9,43,'CANCELED',340000,'2025-11-23 01:07:16','2025-11-23 01:07:21'),(15,1,39,'CANCELED',360000,'2025-11-23 09:18:53','2025-11-23 09:18:57'),(16,10,39,'COMPLETED',360000,'2025-11-24 01:08:42','2025-11-24 01:08:42'),(17,10,36,'COMPLETED',140000,'2025-11-24 01:08:57','2025-11-24 01:08:57');
/*!40000 ALTER TABLE `booking` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `musical`
--

DROP TABLE IF EXISTS `musical`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `musical` (
  `musical_id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `description` longtext,
  `poster_image_url` varchar(1024) DEFAULT NULL,
  `running_time` int NOT NULL,
  `age_rating` varchar(50) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `category` varchar(50) DEFAULT 'DEFAULT' COMMENT '移댄뀒怨좊━ (RANKING, COMINGSOON, SALE, DEFAULT)',
  PRIMARY KEY (`musical_id`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `musical`
--

LOCK TABLES `musical` WRITE;
/*!40000 ALTER TABLE `musical` DISABLE KEYS */;
INSERT INTO `musical` VALUES (5,'留덈━?대━','<img src=\"https://ticketimage.interpark.com/Play/image/etc/25/25013882-02.jpg\" />','/images/d09374a8-6f51-4b75-a157-ce8f72ae6312.jpg',150,'15','2025-11-13 09:01:47','2025-11-14 03:20:12','UPCOMING'),(7,'?쒕났 ?낆? ?⑥옄','<img src=\"https://ticketimage.interpark.com/Play/image/etc/25/25014050-01.jpg\" />','/images/75cb821e-6355-4580-8601-029c207f5aa5.jpg',180,'12','2025-11-14 00:07:46','2025-11-14 00:39:25','SALE'),(10,'?ㅽ럹?쇱쓽 ?좊졊','<img src=\"https://ticketimage.interpark.com/Play/image/etc/23/23006740-14.jpg\" />','/images/1171eeef-1988-46e8-9b4b-64351e0b113c.jpg',140,'15','2025-11-14 00:55:31','2025-11-18 00:33:35','UPCOMING'),(11,'臾쇰옉猷⑥쫰!','<img src =\"https://ticketimage.interpark.com/Play/image/etc/25/25013315-13.jpg\" />','/images/1afa3f35-cf2f-4ff0-89b0-b08505d20818.jpg',160,'15','2025-11-14 05:50:02','2025-11-14 05:50:02','RANKING'),(12,'?곗뒪?명듃','<img src =\"https://ticketimage.interpark.com/Play/image/etc/25/25012652-04.jpg\" />','/images/b3be1b1f-da55-4f86-946c-4fa9a1085c08.jpg',150,'15','2025-11-14 06:29:39','2025-11-18 07:50:28','RANKING'),(13,'?꾪궎??,'<img src=\"https://ticketimage.interpark.com/Play/image/etc/25/25012917-07.jpg\" />','/images/8f9a057a-16bd-4ada-9787-9cbe0c029689.jpg',170,'8','2025-11-17 01:46:25','2025-11-17 01:47:16','RANKING'),(14,'鍮꾪?伊ъ뒪','<img src =\"https://ticketimage.interpark.com/Play/image/etc/25/L0000127-04.jpg\" />','/images/495f4726-61c6-4575-9cf7-2f7826077e01.jpg',150,'14','2025-11-17 01:48:54','2025-11-17 01:48:54','RANKING'),(15,'?덈쿋移?,'<img src=\"https://ticketimage.interpark.com/Play/image/etc/23/23008837-08.jpg\" />','/images/c4063a69-2033-43c7-9b39-2200ce86dc88.jpg',150,'15','2025-11-17 01:49:52','2025-11-17 01:49:52','RANKING'),(16,'?뱁궎遺痢?,'<img src =\"https://ticketimage.interpark.com/Play/image/etc/25/25014553-08.jpg\" />','/images/3a1fbff0-23d1-4203-9443-4c8a698d3ffe.jpg',150,'15','2025-11-18 00:42:12','2025-11-18 00:42:12','UPCOMING'),(17,'?쇨낵 移섑엳濡쒖쓽 ?됰갑遺덈챸','<img src=\"https://ticketimage.interpark.com/Play/image/etc/25/25015528-01.jpg\" />','/images/cb529c00-53f2-4943-bc4c-216772a88ced.jpg',180,'12','2025-11-18 00:43:38','2025-11-18 00:43:38','UPCOMING'),(18,'?덈뱶遺?,'<img src=\"https://ticketimage.interpark.com/Play/image/etc/25/25011651-08.jpg\" />','/images/ae899739-a01d-4ac4-9ed6-6cfb5e97ef94.jpg',150,'10','2025-11-18 00:44:21','2025-11-18 00:44:21','UPCOMING'),(19,'?쒖웳?대뱾','<img src=\"https://ticketimage.interpark.com/Play/image/etc/25/25013784-04.jpg\" />','/images/a352c826-9c22-4849-ad75-c6f15f1b6960.jpg',150,'12','2025-11-18 00:45:20','2025-11-18 00:45:57','UPCOMING'),(20,'?뚮씪??,'<img src=\"https://ticketimage.interpark.com/Play/image/etc/25/24012498-36.jpg\" />','/images/2137c1fa-7e8f-4357-8a3d-ebfe52ecfaeb.jpg',150,'8','2025-11-18 00:49:00','2025-11-18 00:49:00','SALE'),(21,'?꾨옉耳꾩뒋???,'<img src=\"https://ticketimage.interpark.com/Play/image/etc/24/24005971-22.jpg\" />','/images/fb9191e4-87f4-47be-be6a-8cffb84343a5.jpg',150,'14','2025-11-18 00:50:25','2025-11-20 03:01:52','SALE'),(24,'誘몄꽭???ㅼ썐?뚯씠??,'<img src=\"https://ticketimage.interpark.com/Play/image/etc/25/25011168-12.jpg\" />','/images/8da44b3c-2903-4039-bf3c-6f1df1c06431.jpg',150,'14','2025-11-18 01:16:23','2025-11-18 01:16:23','RANKING'),(25,'?쒕씪?섎씪','<img src=\"https://ticketimage.interpark.com/Play/image/etc/21/21002720-62.jpg\" />','/images/380190c1-c047-447a-93ec-4227014913af.jpg',150,'15','2025-11-18 07:32:46','2025-11-18 07:32:46','RANKING');
/*!40000 ALTER TABLE `musical` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `performance`
--

DROP TABLE IF EXISTS `performance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `performance` (
  `performance_id` bigint NOT NULL AUTO_INCREMENT,
  `musical_id` bigint NOT NULL,
  `venue_id` bigint NOT NULL,
  `performance_date` datetime NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`performance_id`),
  KEY `fk_performance_musical_idx` (`musical_id`),
  KEY `fk_performance_venue_idx` (`venue_id`),
  CONSTRAINT `fk_performance_musical` FOREIGN KEY (`musical_id`) REFERENCES `musical` (`musical_id`),
  CONSTRAINT `fk_performance_venue` FOREIGN KEY (`venue_id`) REFERENCES `venue` (`venue_id`)
) ENGINE=InnoDB AUTO_INCREMENT=56 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `performance`
--

LOCK TABLES `performance` WRITE;
/*!40000 ALTER TABLE `performance` DISABLE KEYS */;
/*!40000 ALTER TABLE `performance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `performance_seat`
--

DROP TABLE IF EXISTS `performance_seat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `performance_seat` (
  `performance_seat_id` bigint NOT NULL AUTO_INCREMENT,
  `performance_id` bigint NOT NULL,
  `seat_id` bigint NOT NULL,
  `price` int NOT NULL,
  `is_reserved` tinyint(1) NOT NULL DEFAULT '0',
  `booking_id` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`performance_seat_id`),
  UNIQUE KEY `uk_performance_seat` (`performance_id`,`seat_id`),
  UNIQUE KEY `UKc5tf5ffrdhs4u32k0gxrnsdan` (`performance_id`,`seat_id`),
  KEY `fk_perf_seat_perf_idx` (`performance_id`),
  KEY `fk_perf_seat_seat_idx` (`seat_id`),
  KEY `fk_perf_seat_booking_idx` (`booking_id`),
  CONSTRAINT `fk_perf_seat_booking` FOREIGN KEY (`booking_id`) REFERENCES `booking` (`booking_id`),
  CONSTRAINT `fk_perf_seat_perf` FOREIGN KEY (`performance_id`) REFERENCES `performance` (`performance_id`),
  CONSTRAINT `fk_perf_seat_seat` FOREIGN KEY (`seat_id`) REFERENCES `seat` (`seat_id`)
) ENGINE=InnoDB AUTO_INCREMENT=21150 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `performance_seat`
--

LOCK TABLES `performance_seat` WRITE;
/*!40000 ALTER TABLE `performance_seat` DISABLE KEYS */;
/*!40000 ALTER TABLE `performance_seat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seat`
--

DROP TABLE IF EXISTS `seat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `seat` (
  `seat_id` bigint NOT NULL AUTO_INCREMENT,
  `venue_id` bigint NOT NULL,
  `seat_number` varchar(255) NOT NULL,
  `seat_grade` enum('VIP','R','S','A') NOT NULL,
  `x_coord` int NOT NULL DEFAULT '0' COMMENT '醫뚯꽍 X醫뚰몴 (?? px)',
  `y_coord` int NOT NULL DEFAULT '0' COMMENT '醫뚯꽍 Y醫뚰몴 (?? px)',
  PRIMARY KEY (`seat_id`),
  KEY `fk_seat_venue_idx` (`venue_id`),
  CONSTRAINT `fk_seat_venue` FOREIGN KEY (`venue_id`) REFERENCES `venue` (`venue_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4404 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seat`
--

LOCK TABLES `seat` WRITE;
/*!40000 ALTER TABLE `seat` DISABLE KEYS */;
/*!40000 ALTER TABLE `seat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `user_id` bigint NOT NULL AUTO_INCREMENT,
  `email` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `username` varchar(255) NOT NULL,
  `role` enum('ROLE_USER','ROLE_ADMIN') NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `email_UNIQUE` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `venue`
--

DROP TABLE IF EXISTS `venue`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `venue` (
  `venue_id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `location` varchar(255) DEFAULT NULL,
  `layout_image_url` varchar(500) DEFAULT NULL,
  `region` varchar(50) NOT NULL DEFAULT 'default' COMMENT '吏????: seoul, busan, gangwon)',
  PRIMARY KEY (`venue_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `venue`
--

LOCK TABLES `venue` WRITE;
/*!40000 ALTER TABLE `venue` DISABLE KEYS */;
INSERT INTO `venue` VALUES (1,'?몄쥌臾명솕?뚭?','?쒖슱 醫낅줈援??몄쥌?濡?175',NULL,'SEOUL'),(2,'?쒕┝?⑥뼱??,'遺??吏꾧뎄 ?꾪룷?濡?133',NULL,'BUSAN'),(3,'?ㅻ’?곗뵪?댄꽣','?쒖슱 ?≫뙆援??щ┝?쎈줈240',NULL,'SEOUL'),(4,'釉붾（?ㅽ섏뼱','?쒖슱 ?⑹궛援??댄깭?먮줈 294',NULL,'SEOUL');
/*!40000 ALTER TABLE `venue` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-01  9:47:46
