.section {
  width: 100%;
  margin-top: 90px;
}

.section h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}

/* 5열 고정 */
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
}

.card {
  background: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  transition: transform 0.25s ease;
  text-decoration: none;
  color: inherit;
}

/* 포스터 */
.poster {
  width: 100%;
  height: 330px;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

/* hover 시 확대 */
.card:hover .poster {
  transform: scale(1.05);
}

/* 텍스트 */
.info {
  margin-top: 12px;
}

.info h3 {
  font-size: 18px;
  margin-bottom: 4px;
  font-weight: 600;
}

.info p {
  font-size: 14px;
  color: #666;
}

/* 바로가기 버튼 */
.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.moreButton {
  background: white;
  color: #333;
  border: 2px solid #ddd;
  padding: 12px 26px;
  font-size: 16px;
  border-radius: 12px;
  text-decoration: none;
  transition: all 0.25s ease;
}

.moreButton:hover {
  background: #e9e6e6;
  border-color: #dbd6d7;
  color: #000000;
  transform: translateY(-3px);
}

